.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red */
}
.n-left{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid red; */
}
.n-name{
    font-size:1.3rem;
    font-weight: bold;

}
.n-right{
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.n-list{
    flex:1;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
}
.n-list>ul>li:hover{
    cursor: pointer;
    color: var(--orange);

}

.n-button{
    flex: 2;
}
 @media screen and (max-width: 480px){
     .n-list{
         display: none;
     }
     .n-button{
         display: none;
     }
 }